
html{
	font-size: 62.5%;
}

body{
	margin: 0;
	padding: 0;
}

header{
	position: fixed;
	padding: 0.6rem 1rem;
	background: #5fc0cd;
	font-size:2rem;
	height: 3rem;
	line-height: 3rem;
	left: 0;
	right: 0;
	top: 0;
	color: #fff;
}

header a{
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	text-decoration: none;
}

header h3{
	text-align: center;
	padding: 0;
	margin:0 4rem;
	font-size: 2rem;
}

.quit{
	float: right;
}

.register{
	float: left;
}

main{
	position: absolute;
	background: #eff0f4;
	top: 4.2rem;
	right: 0;
	left: 0;
	bottom: 0;
}

.logintext{
	margin: 1rem 0 0 0;
	/*width: 100%;*/
	background: #fff;
}

.logintext input{
	padding: 0 0 0 8rem;
	/*width: 100%;*/
	border: 0 none;
	line-height: 4rem;
	font-size: 1.5rem;
	outline: none;
}
.logintext input[type="text"]{
	background: url(iphone.png) no-repeat;
	background-size: 5rem 4rem;

}

.logintext input[type="password"]{
	background: url(locked.png) no-repeat;
	background-size:5rem 4rem;
}
.enter{
	margin: 1rem 0 0 0;
	width: 100%;
	line-height: 4rem;
	font-size: 2rem;
	letter-spacing: 1rem;
	cursor: pointer;
	background: #5fc0cd;
	color: #fff;
	border: none;
	text-align: center;

}

.forget{
	float: right;
	padding: 0 1rem;
}